/* https://blog.hubspot.com/website/html-projects-for-beginners */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}

/* section > *:not(main) {
    margin-bottom: 25px;
} */

body {
    background-image: url(/ba/assets/images/default.png);
    background-repeat: repeat;
    display: flex; /*nötig für mittiges placement*/
    justify-content: center;
    /*min-height: 100vh;*/ /*stretcht main nach unten*/
}

main {
    width: 100%; /*stretch auf 600px, aber margin ist*/
    max-width: 600px; /*weißes feld*/
    margin: 25px; /*min. abstand von box bis zum seitenrand*/
}

nav {
    position: fixed;
    top: 25px;
    right: 0;
    padding-right: 25px;
    text-align: right;
}

section{
    padding: 25px; /*abstand in box bis zum input feld*/
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /*kleiner schatten, nicht verschoben*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

section:not(:last-child) {
    margin-bottom: 25px; /*margin zwischen sections, aber keins am ende*/
}

h1,h2 {
    text-align: center; /*mittige überschrift*/
}


button{
    margin-top: 20px ;
    padding: 10px;
    background-color: #40aa40; /*37be3b*/
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3a9e3a;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

.link-button {
    display: inline-block;
    background-color: #40aa40;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    margin: 5px;
    min-width: 160px;
}

.centered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}